DATABASE_URL="postgresql://postgres:postgres@localhost:5432/syemape?schema=public"
PORT=3020
CORS_ORIGINS="http://localhost:3000"
JWT_SECRET="cambiar-por-secreto-fuerte"
JWT_EXPIRES_IN="8h"
ADMIN_EMAIL="admin@mape.com"
ADMIN_PASSWORD="admin123"
